@use 'partial';

@mixin link-styling {
    text-decoration: none;
    color: partial.$beige; 
    &:hover {
      text-decoration: none;
      color: partial.$lyserød;
      background-color: partial.$beige;
    }
  }

  @mixin margin {
    margin-left: 11%;
    margin-right: 11%;
  }