@use 'partial';

body {
    font-family: "Orelega One", serif;
    color: partial.$sort;
    background-color: partial.$beige;
}

img {
    max-width: 12%;
    height: auto;
}

h1 {
    color: partial.$grøn;
}

a {
    color: partial.$sort; 
    text-decoration: none; 
}

a:hover {
    color: partial.$lyserød;
}

a:visited {
    color: partial.$sort;
}
