@use 'partial';
@use 'mixins';

body {
    background-color: partial.$beige;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    color: partial.$sort;
}

p {
    font-family: "League Spartan", sans-serif;
}

.underoverskrift {
    font-weight: bold;
    @include mixins.margin;
        img {
            max-width: 0.6em; /* Setter maksimal bredde til 50% av foreldreelementet */
            height: auto; /* Beholder proporsjonene av bildet */
        }
}

h2 {
    color: partial.$grøn;
}

//start nav med links

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: partial.$lyserød;
    color: partial.$beige;
    padding: 5px;
}

nav ul li {
    flex: 1; /* Deler tilgjengelig plass likt mellom alle li-elementer */
}

nav ul li a {
    display: block;
    color: partial.$beige;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

nav ul li a:hover {
    @include mixins.link-styling;
}

//slut navn links

//start header

.logoboks {
    display: flex; /* Setter beholderen til en flex-boks */
    align-items: center; /* Sentrerer innholdet vertikalt */
    padding: 35px;
    justify-content: center;

    img {
        max-width: 11em; /* Setter maksimal bredde til 50% av foreldreelementet */
        height: auto; /* Beholder proporsjonene av bildet */
    }
    
}



.logotekst {
    padding-left: 20px; /* Legg til luft på venstre side av teksten for å skille den fra bildet */
}

h1 {
    color: partial.$grøn;
    font-size: 3.5em;
}  

//slut header

//indhold

h2 {
    @include mixins.margin;
}

.forsidetekst {
    @include mixins.margin;
}

.jordklodeimg {
    display: flex;
    justify-content: flex-end; /* Placerer elementer i containeren til højre */
    align-items: center; /* Centrerer elementer lodret */
    @include mixins.margin;
    margin-bottom: 1.5em;
        img {
        max-width: 9em; /* Sætter maksimal bredde til 11em */
        height: auto; /* Beholder billedets proportioner */
        }
}

//footer

footer {
    background-color: partial.$grøn;
    color: partial.$beige;
    padding: 20px;
    display: flex;
    justify-content: space-between;

        img {
            max-width: 7em; /* Setter maksimal bredde til 50% av foreldreelementet */
            height: auto; /* Beholder proporsjonene av bildet */
        }
}

.footerstyle {
    flex: 1; /* Deler tilgjengelig plass likt mellom alle seksjoner */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Sentrerer innholdet vertikalt */
    align-items: center; /* Sentrerer innholdet horisontalt */
    
}

.footerstyle p {
    margin: 10px 0; /* Legger til en liten margin over og under hvert <p> element */
}

.footerstyle h3 {
    margin-bottom: 0; /* Fjerner standard margintopp for overskriften */
}

// formular

.kontaktformular {
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    background-color: partial.$lyserød;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.kontaktformular h4 {
    margin-bottom: 20px;
    text-align: center;
    color: partial.$grøn;
    font-size: xx-large;
    margin-top: 4px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: partial.$beige;
}

input[type="text"],
input[type="email"],

textarea {
    width: 43.5em;
    padding: 10px;
    border: 1px solid partial.$lyserød;
    border-radius: 4px;
    background-color: partial.$beige;
    color: partial.$grøn;
    font-family: "League Spartan", sans-serif;
    outline: none; /* Fjern den standard fokusstil, hvis ønsket */
    resize: none;
}

button {
    padding: 10px 20px;
    background-color: partial.$beige;
    color: partial.$grøn;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
}

button:hover {
    background-color: partial.$lyserød;
    color: partial.$beige;
}

