@use 'partial';
@use 'mixins';

header {
    text-align: center;
}

body {
    font-family: "Orelega One", serif;
    color: partial.$sort;
    background-color: partial.$beige;
}

img {
    max-width: 12%;
    height: auto;
}

.overskrift {
    color: partial.$grøn;
}